# Configuração do banco de dados Vercel Postgres
# Copie este arquivo para ".env" na raiz do seu projeto e substitua a URL abaixo
# Você encontra a sua POSTGRES_URL no painel da Vercel (aba Storage -> sua Database -> .env.local)

POSTGRES_URL="postgres://default:xyz123@ep-cool-snowflake-123456.us-east-1.postgres.vercel-storage.com:5432/verceldb"
